*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

html {
    position: relative;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

audio {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0.3;
    transition: opacity 300ms;
}

audio:hover {
    opacity: 1;
}

.audio {
    position: absolute;
    background: transparent;
    border: 1px solid red;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
}

.app-contents {
    height: 100%;
}

.notes-list {
    list-style: none;
    height: 100%;
    display: flex;
}

.list-item {
    width: 100%;
}